body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient (brown, yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  padding: 20px;
  display:flow-root;
  align-items:center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.header h1 {
  color: rgb(255, 102, 0);

}
.header .links {
  margin-left: auto;
}
.header a {
  padding: 0.5px;
  color:white;
  background-color: rgb(166, 79, 79);
  border-radius: 5px;
}
.header a:hover {
  color: rgb(225, 201, 201);
}

* {
  
}